<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Edycja serwera</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= servers_path %>">Serwery</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= server_path(@server) %>"><%= @server.name %></a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Edycja serwera</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Edycja serwera</h3>
    <div class="ibox-tools">

    </div>
  </div>
  <div class="ibox-content">
    <%= render 'form', server: @server %>
  </div>
</div>
