<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @user.email %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= users_path %>">Użytkownicy</a>
      </li>
      <li class="breadcrumb-item active">
        <strong><%= @user.email %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Dane użytkownika</h3>
    <div class="ibox-tools">
      <%= link_to 'Edycja', edit_user_path(@user), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Cofnij', users_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-sm-4">
        <p>
          <strong>Email</strong><br />
          <%= @user.email %>
        </p>
        <p>
          <strong>Nazwisko</strong><br />
          <%= @user.name %>
        </p>
        <p>
          <strong>Stanowisko</strong><br />
          <%= @user.position %>
        </p>
        <p>
          <strong>Avatar</strong><br />
          <%= @user.avatar.present? ? image_tag(@user.avatar.thumb.url, class: "rounded-circle", style: "width:50px") : "-" %>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <strong>Ostatnie zalogowanie</strong><br />
          <%= @user.last_sign_in_at %>
        </p>
        <p>
          <strong>Data utworzenia</strong><br />
          <%= @user.created_at %>
        </p>
        <p>
          <strong>Data modyfikacji</strong><br />
          <%= @user.updated_at %>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <strong>Dostęp do systemu</strong><br />
          <% if @user.verified %>
            <span class="badge badge-primary">TAK</span>
          <% else %>
            <span class="badge badge-danger">NIE</span>
          <% end %>
        </p>
        <p>
          <strong>Dostęp do bazy użytkowników</strong><br />
          <% if @user.access_users %>
            <span class="badge badge-primary">TAK</span>
          <% else %>
            <span class="badge badge-danger">NIE</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Powiązane usługi</h3>
    <div class="ibox-tools">
    </div>
  </div>
  <div class="ibox-content">
    <table class="table">
      <tr>
        <th>Pakiet</th>
        <th>Nazwa</th>
        <th>Powierzchnia</th>
        <th>Status</th>
        <th>Domeny</th>
      </tr>
      <% @user.servers.each do |server| %>
      <tr>
        <td><%= server.package.name %></td>
        <td><%= link_to server.name, server %></td>
        <td><%= server.disk_space %>/<%= server.package.disk_space %></td>
        <td><%= server.paid == true ? "OPŁACONY" : "NIEOPŁACONY" %></td>
        <td>
          <ul>
            <% server.domains.each do |domain| %>
              <li><%= link_to domain.name, domain %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Płatności</h3>
    <div class="ibox-tools">
    </div>
  </div>
  <div class="ibox-content">
    <table class="table">
      <tr>
        <th>Tytuł</th>
        <th>Nazwa</th>
        <th>Kwota</th>
        <th>Termin</th>
      </tr>
      <% @user.payments.each do |payment| %>
      <tr>
        <td><%= payment.title %></td>
        <td><%= link_to payment.name, payment %></td>
        <td><%= payment.price %></td>
        <td><%= payment.deadline %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
