<!-- page-content GŁÓWNY BOX Z ZAWARTOŚCIĄ STRONY KTÓRY NALEZY PODMIENIAĆ W ZALEŻNOŚCI OD PODSTRONY -->
<div id="page-content">

  <!-- TUTAJ JEST PRZEYCISK DO CHOWANIA ORAZ WYSÓWANIA MEBU BOCZNEGO, TEŻ MUSI ZNAJDOWAĆ SIĘ W KAŻDYM BOX-E Z ZAWARTOŚCIĄ -->
  <nav class="navbar navbar-expand-lg  sticky-top ">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn menu-hamburger">
        <span><i class="fa fa-exchange"></i></span>
      </button>
    </div>
  </nav>

  <!-- PONIŻEJ TREŚĆ KTÓRĄ NALEŻY PODMIENIAĆ BO DLA KAŻDEJ PODSTRONY JEST INNA -->
  <div class="container-fluid ">
    <div class="row">

      <div class="col-12">
        <p class="box-title-header">
          Panel klienta
        </p>
      </div>
    </div>

    <!-- CAŁY RZĄD Z FAKTURAMI ORAZ CHECKBOXEM DO OPŁACENIA -->
    <%= render 'payments' %>

    <!-- STREFA SERWERÓW -->
    <%= render 'servers' %>

    <!-- STREFA DOMEN -->
    <div class="row">
      <div class="col-12 main-title-domains-zone">
        <p class="zone-server-title">
          Domeny <span class="close-icon-domains"><i class="fa fa-window-close"></i></span>
        </p>
      </div>

      <div class="col-12 col-lg-12 ">
        <div class="domains-box">
          <div class="row">

            <% @domains.each do |domain| %>
            <div class="col-6 special-border-right">
              <div class="row">
                <div class="col-12 col-md-8 ">
                  <p class="element-list-domain">
                    <span class="domain-name-list"><%= domain.name %></span>
                  </p>
                </div>
                <div class="col-12 col-md-4 manage-list-domain">
                  <a href="<%= user_domain_path(id: domain.id) %>">Zarządzaj</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- STREFA USŁUG DODATKOWYCH -->
    <%= render "additional_services" %>

  </div>
</div>
