<!-- page-content GŁÓWNY BOX Z ZAWARTOŚCIĄ STRONY KTÓRY NALEZY PODMIENIAĆ W ZALEŻNOŚCI OD PODSTRONY -->
<div id="page-content">

  <!-- TUTAJ JEST PRZEYCISK DO CHOWANIA ORAZ WYSÓWANIA MEBU BOCZNEGO, TEŻ MUSI ZNAJDOWAĆ SIĘ W KAŻDYM BOX-E Z ZAWARTOŚCIĄ -->
  <nav class="navbar navbar-expand-lg  sticky-top ">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn menu-hamburger">
        <span><i class="fa fa-exchange"></i></span>
      </button>
    </div>
  </nav>

  <!-- PONIŻEJ TREŚĆ KTÓRĄ NALEŻY PODMIENIAĆ BO DLA KAŻDEJ PODSTRONY JEST INNA -->
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12">
        <p class="box-title-header">
          Lista zgłoszeń
        </p>
      </div>
    </div>

    <!-- STREFA SERWERÓW -->
    <%= render 'u_cases' %>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
      Dodaj zgłoszenie
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= simple_form_for(UCase.new) do |f| %>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nowe zgłoszenie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
              <%= f.input :title, label: "Tytuł" %>
              <%= f.input :body, label: "Treść" %>
              <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <%= f.button :submit, "Zapisz", class: "btn btn-primary"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
