<div class="main-page">
  <div class="container login-page">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12 col-lg-6 offset-lg-3 text-center">
            <%= image_tag "login/logo-cal.svg", alt: "logo-info-cal", class: "logo-logowanie" %>
            <div class="row">
              <div class="col-12 head-promotion">
                <%= image_tag "login/percent.png", class: "img-fluid percent",  alt: "percent-svg" %>Dziś w promocji
              </div>
              <div class="col-12 body-promotion">
                <p> Domena .pro</p>
                <p class="mb-4"> 14,90 na rok</p>
                <a href="https://cal.pl/" class="see-login">Zobacz
                  <%= image_tag "login/arrow-right.png", alt: "right-arrow", class: "img-fluid login-arrow" %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 login-form-box">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <p class="login-form-title">
              Zaloguj się do Panelu Klienta
            </p>
            <p class="login-form-subTitle">
              Wpisz dane podane przy rejestracji
            </p>
            <%= f.input :email, label: "Email, nazwa domeny lub usługi",
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", value: "test@cal.pl" } %>
            <%= f.input :password, label: "Hasło",
                        required: false,
                        input_html: { autocomplete: "current-password", value: "P@ssw0rd" } %>
            </div>

          <div class="form-actions">
            <%= f.button :submit, "Zaloguj", class: "btn btn-sm btn-primary login-submit" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>

      <div class="col-12 col-md-3 offset-md-1">
        <p class="login-another-links">
          Inne miejsca
        </p>
        <p class="login-links">
          <a href="https://poczta.cal.pl" target="_blank" class="links">
           <i class="fa fa-envelope-open-o mr-2"></i>Logowanie do poczty
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
