<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, "#id") %></th>
      <th><%= sort_link(@q, :name, "Nazwa") %></th>
      <th>Tagi</th>
      <th>Autor</th>
      <th><%= sort_link(@q, :created_at, "Data utworzenia") %></th>
      <th width="200">Opcje</th>
    </tr>
  </thead>
  <tbody>
    <% @concepts.each do |concept| %>
      <tr>
        <td><%= concept.id %></td>
        <td><%= link_to concept.name, concept %></td>
        <td>
          <% if concept.tags.count > 0 %>
            <% concept.tags.each do |tag| %>
              <%= link_to tag do %>
                <span class="badge badge-primary"><%= tag.name %></span>
              <% end %>
            <% end %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <%= link_to "#" do %>
            <span class="badge badge-primary"><%= concept.user.email %></span>
          <% end %>
        </td>
        <td><%= link_to concept.created_at, concept %></td>
        <td>
          <%= link_to 'Pokaż', concept, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edytuj', edit_concept_path(concept), class: "btn btn-sm btn-warning" %>
          <%= link_to 'Usuń', concept, method: :delete, data: { confirm: 'Czy na pewno usunąć?' }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @concepts %>
