<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @concept.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= concepts_path %>">Baza Pojęć</a>
      </li>
      <li class="breadcrumb-item active">
        <strong><%= @concept.name %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Dane Pojęcia</h3>
    <div class="ibox-tools">
      <%= link_to 'Edycja', edit_concept_path(@concept), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Cofnij', concepts_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="ibox-content">
    <p>
      <strong>Nazwa</strong><br />
      <%= @concept.name %>
    </p>
    <p>
      <strong>Tagi</strong><br />
      <% if @concept.tags.count > 0 %>
        <% @concept.tags.each do |tag| %>
          <%= link_to tag do %>
            <span class="badge badge-primary"><%= tag.name %></span>
          <% end %>
        <% end %>
      <% else %>
        -
      <% end %>
    </p>
    <p>
      <strong>Użytkownik</strong><br />
      <%= link_to @concept.user do %>
      <span class="badge badge-primary"><%= @concept.user.email %></span>
      <% end %>
    </p>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Treść</h3>
    <div class="ibox-tools">
      <%= link_to 'Edycja', edit_concept_path(@concept), class: "btn btn-sm btn-primary" %>

    </div>
  </div>
  <div class="ibox-content">
    <%= @concept.body.html_safe %>
  </div>
</div>
